Settings:
  ColorSettings:
    # Find list of supported values for Color here https://docs.microsoft.com/ru-ru/dotnet/api/system.drawing.color?view=net-6.0
    # or use "#AARRGGBB" notation
    Rules:
      - RegexString: No error #use default color

      - RegexString: "error: 0x0"

      - RegexString: \tERR\t
        ForegroundColor: Red

      - RegexString: \Werror\W
        ForegroundColor: Red

      - RegexString: \tIMP\t
        ForegroundColor: DarkRed

      - RegexString: \tWRN\t
        ForegroundColor: Chocolate

      - RegexString: \tDBG\t
        ForegroundColor: Gray

      - RegexString: (?i)fatal
        BackgroundColor: "#FFCD5C5C"

  ViewSettings:
    # BigLine: prune|break
    BigLine: prune
    BigLineSize: 4096
  LogFormats:
    - Regex: ^(?<Time>\d{4}-\d{2}-\d{2}\s[^\s]+)\s+(?<Level>[^\s]+)\s+(?<Thread>[^\s]+)\s+(?<Component>[^\s]+)\s+(?<Message>.*)
      IndexedFields:
        - Level
        - Thread
        - Component
    # KL logs
    - Regex: ^(?'Time'\d{2}\:\d{2}\:\d{2}\.\d{3})\t(?'Thread'0x[0-9a-fA-F]+)\t(?'Severity'\w+)\t(?:(?'Component'[^\t]+)?\t)?(?'Message'.*)
      IndexedFields:
        - Thread
        - Severity
        - Component
      Transformations:
        - lic\t\[.*ContentImp.*\].*"TicketBody"\s+:\s+\{[^}]+"Data"\s+:\s+(?'Base64Decode'"[^"]+")
    # xor-ed KL logs
    - Regex: ^(?'Time'\d{2}\:\d{2}\:\d{2}\.\d{3})\t(?'Thread'0x[0-9a-fA-F]+)\t(?'Severity'\w+)\t(?:(?'Component'[^\t]+)?\t)?(?'Message'.*)
      IndexedFields:
        - Thread
        - Severity
        - Component
      XorMask : 0xef
      Transformations:
        - lic\t\[ContentImp\.cpp.*\].*"TicketBody".*"(?'Base64DecodeFormatJson'[\w]+==)"
    # LogGrok logs
    # 00:07:08.703	10144	0x1	INF	DocumentContainer	Start loading C:\Traces\producttraces (65)\KAV.21.3.7.290_01.26_15.43_4824.SRV.log
    - Regex: ^(?'Time'\d{2}\:\d{2}\:\d{2}\.\d{3})\t(?'Thread'0x[0-9a-fA-F]+)\t(?'Severity'\w+)\t(?'Component'[^\t]+\t)?(?'Message'.*)
      IndexedFields:
        - Process
        - Thread
        - Severity
        - Component
    # TestRun logs
    # 18:14:53.667	[4720-16]	INF	KL.KsnMock.Client.Responses.KsnResponseRegistrator`1+<>c__DisplayClass5_0	"[df42b713] Receive packet for GrpcKsnMock.Ksn_Protocol_FileReputation_ObjectRequest, body: { ""Requests"": [ { ""HashType"": 1, ""ServiceMask"": ""23"", ""FileHash"": ""ooWVtba5z5Yjgv/snVQq+g=="" } ] }"	
    - Regex: ^(?'time'\d{2}\:\d{2}\:\d{2}\.\d{3})\t(?'process_thread'\[\d+-\d+\])\t(?'severity'\w+)?\t(?:[\w|\d]+\.)*(?'component'[^-\s]+)\t(?'message'.*)
      IndexedFields:
        - process_thread
        - severity
        - component
